*{
    
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: #f0f0f0;
    padding: -150px;
}

a{
    text-decoration: none;
    background-color: #fff;
    font-weight: bolder;
    cursor: context-menu;
}

a:hover{
    transform: scale(1.02);
}

main{
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 150px;
    height: 800px;

}



#celular{
    display: block;
    width: 500px;
    height: 750px;
    margin-left: -110px ;
    margin-top: -25PX;
    margin-left: 150PX;
}

#telefone{
    position: relative;
    width: 500px;
    height: 750px;
    z-index: 5;
}




#loginForm{
    display: block;
    margin-left: -100px;
    height: 650px;
}

#loginForm > form{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    width: 300px;
    height: 500px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #fff;
}

#Instagram{
    background-color: #ffffff;
    height: 50px;
    padding-left: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
}

input{
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 6px;
    margin-top: 6px;
    padding-left: 10px;
    border: 1px solid;
    outline: none;
}


button{
    width: 310px;
    height: 30px;
    margin-top: 15px;
    background-color: #7aceff;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 20%);
    border-radius: 8px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    transform: scale(1.04);
    background-color: #51afe6;
}

hr{
    position: relative;
    top: 40px;
}

#ou{
    display: block;
    position: relative;
    top: 30px;
    left: 110px;
    width: 80px;
    height: 12px;
    background-color: #fff;
    box-sizing: content-box;
    text-align: center;

}

#FbLogo{
    margin-right: 15px;
    background-color: #fff;
    width: 30px;
    cursor: pointer;
}

#facebook{
    display: flex;
    position: relative;
    top: 80px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#textoFB{
        background-color: #fff;
        color: #000;
        font-weight: bolder;
        cursor: pointer;
    }

#forget{
    background-color: #fff;
    color: #100197;
    position: relative;
    top: 120px;
    left: 80px;
    cursor: pointer;
}




#obtenha{
    display: flex;
    position: relative;
    left: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
    background-color: #f0f0f0;
}

#obtenha>a{
    background-color: #f0f0f0;
}


#google, #apple{
    position: relative;
    margin-left: 10px;
    top: 15px;
    right: 275px;
    height: 60px;
    width: 185px;
    margin-top: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
}




footer{
    color: #616161;

}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

li{
    list-style: none;
    margin: 20px;
    margin-top: -20px;
}

li:hover{
    transform: scale(1.04);
}



@media screen and (max-width: 600px){
    section#celular{
        display: none;
    }

    #loginForm{
        position: relative;
        left: 120px;
    }

    article>p{
        text-wrap: nowrap;
    }
}

#semConta{
    margin-left: 60px;
}